<div class="container">
    <div class="topbar">
        <h4>DeltaCodes Members</h4>
        <div class="spacer"></div>
        <div class="btn" [class.btnActive]="ischanged" (click)="getSelectedRows()">View</div>
        <div class="btn" [class.btnActive]="ischanged">Change Role</div>
        <div class="btn" [class.btnActive]="ischanged">More Options</div>
        <div class="btn btnActive" (click)="onBtnExport()">Export CSV</div>
    </div>
    <div class="area">
        <ag-grid-angular
            #queries
            style="width: 100%; height: 80vh;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            rowSelection="single"
            (gridReady)="onGridReady($event)"
            (selectionChanged)="changed()"
            >
        </ag-grid-angular>
    </div>
</div>